<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>org.aethyrion.talaria27.refresh</string>
		<string>org.aethyrion.talaria27.continued.*</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Talaria27</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AutumnHarvest</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-AutumnHarvest</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BubblegumMecha</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-BubblegumMecha</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>CasinoLucky7s</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-CasinoLucky7s</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>CerealBox</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-CerealBox</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>ComicFunnies</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-ComicFunnies</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>ComicVillain</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-ComicVillain</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>CosmicBowling</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-CosmicBowling</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>CyberCactus</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-CyberCactus</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>DeepField</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-DeepField</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>DiscoInferno</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-DiscoInferno</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>EventHorizon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-EventHorizon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>GlitchGarden</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-GlitchGarden</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>GraffitiGalaxy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-GraffitiGalaxy</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>HoloSushi</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-HoloSushi</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>KaijuAttack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-KaijuAttack</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>KaraokeSupernova</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-KaraokeSupernova</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>LuchaLibre</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-LuchaLibre</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>LunarDiner</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-LunarDiner</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>MidnightAquarium</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-MidnightAquarium</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>MoltenForge</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-MoltenForge</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>NeonArcade</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-NeonArcade</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>PaperTape</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-PaperTape</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>PulpNoir</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-PulpNoir</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>RetroSciFi</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-RetroSciFi</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>SolarForge</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-SolarForge</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>SpringSprout</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-SpringSprout</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>StickerBombToybox</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-StickerBombToybox</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>SummerSolar</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-SummerSolar</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Terminal</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-Terminal</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>WinterFrost</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-WinterFrost</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>WitchsBrew</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-WitchsBrew</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AutumnHarvest</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-AutumnHarvest</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BubblegumMecha</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-BubblegumMecha</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>CasinoLucky7s</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-CasinoLucky7s</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>CerealBox</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-CerealBox</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>ComicFunnies</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-ComicFunnies</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>ComicVillain</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-ComicVillain</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>CosmicBowling</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-CosmicBowling</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>CyberCactus</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-CyberCactus</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>DeepField</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-DeepField</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>DiscoInferno</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-DiscoInferno</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>EventHorizon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-EventHorizon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>GlitchGarden</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-GlitchGarden</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>GraffitiGalaxy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-GraffitiGalaxy</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>HoloSushi</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-HoloSushi</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>KaijuAttack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-KaijuAttack</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>KaraokeSupernova</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-KaraokeSupernova</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>LuchaLibre</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-LuchaLibre</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>LunarDiner</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-LunarDiner</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>MidnightAquarium</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-MidnightAquarium</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>MoltenForge</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-MoltenForge</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>NeonArcade</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-NeonArcade</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>PaperTape</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-PaperTape</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>PulpNoir</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-PulpNoir</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>RetroSciFi</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-RetroSciFi</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>SolarForge</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-SolarForge</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>SpringSprout</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-SpringSprout</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>StickerBombToybox</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-StickerBombToybox</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>SummerSolar</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-SummerSolar</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Terminal</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-Terminal</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>WinterFrost</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-WinterFrost</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>WitchsBrew</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon-WitchsBrew</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>org.aethyrion.talaria27.hermes</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hermes</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAlarmKitUsageDescription</key>
	<string>Hermes schedules alarms and timers you ask for — each one is confirmed in-app before it's set.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>100.64.0.0/10</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Hermes reads your calendar to answer questions about your schedule, and only creates events you approve.</string>
	<key>NSCameraUsageDescription</key>
	<string>Hermes uses the camera to capture photos and documents for analysis.</string>
	<key>NSContactsUsageDescription</key>
	<string>Hermes looks up contacts you ask about — for example, to find a phone number or email address.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Talaria uses Face ID to unlock the app.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Hermes reads your health data to offer personalized wellness insights.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Hermes does not write health data, but this permission is required by the system.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Hermes uses your location in the background to provide contextual awareness and proactive suggestions.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Hermes uses your location to provide contextual recommendations and nearby suggestions.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Hermes uses the microphone for voice conversations in Talk Mode.</string>
	<key>NSMotionUsageDescription</key>
	<string>Hermes uses motion data to understand your current activity for contextual awareness.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Hermes accesses your photo library to help organize and search your photos.</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>Hermes reads your reminders to answer questions about your to-dos, and only creates reminders you approve.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Hermes uses speech recognition for voice commands and local transcription.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>ChakraPetch-Medium.ttf</string>
		<string>ChakraPetch-SemiBold.ttf</string>
		<string>ChakraPetch-Bold.ttf</string>
		<string>SpaceGrotesk-Regular.ttf</string>
		<string>SpaceGrotesk-Medium.ttf</string>
		<string>SpaceGrotesk-Bold.ttf</string>
		<string>JetBrainsMono-Regular.ttf</string>
		<string>JetBrainsMono-Medium.ttf</string>
		<string>JetBrainsMono-Bold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>CPTemplateApplicationSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>CPTemplateApplicationScene</string>
					<key>UISceneConfigurationName</key>
					<string>CarPlay</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).CarPlaySceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>location</string>
		<string>remote-notification</string>
		<string>audio</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
